.Label {
    color: rgb(104, 97, 85);
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
}

.Input {
    width: 200px;
    height: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
}